<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <div
      style="
        background-image: url(https://uat.toolkit.novacept.io/files/emailbg.png);
        background-size: 100% 100%;
        width: 600px;
        padding: 20px;
        background-repeat: no-repeat;
      "
    >
      <h2><b> Thank You for Beginning a Home Loan Application!</b></h2>
      <p>Dear {{doc.salutation}} {{doc.first_name}}</p>
      <p>
        Novacept thanks you for beginning a mortgage application. This is an
        exciting step, and we look forward to working with you.
      </p>
      <p>
        As the next step in the process, we will an appraisal on your
        prospective new home. <br />juihnkj
      </p>
      <h3>
        <b>
          Please be notified that your application is moved to:
          <span style="color: green">{{doc.status}}</span> status.</b
        >
      </h3>
      <p>Thank you,</p>
      <p>Novacept</p>
    </div>
  </body>
</html>
